<div class="page-header" filter-color="orange">
  <div class="page-header-image" style="background-image:url(assets/img/bg6.jpg)"></div>
  <div class="container">
    
 
    <div class="col-md-4 content-center">
      <div class="card card-login card-plain">

      <h2>Albi</h2>
      <h6>A flat-sharing application</h6>


        <form [formGroup]="loginForm"
              (ngSubmit)="login(
              loginForm.get('usernameLogin').value,
              loginForm.get('passwordLogin').value)"

              class="form" method="" action=""
              [class.error]="!loginForm.valid && loginForm.touched">
          <div class="content">
            <div class="input-group form-group-no-border input-lg" [ngClass]="{'input-group-focus':focus===true}">

              <input type="text"
                     class="form-control"
                     placeholder="Username"
                     (focus)="focus=true" (blur)="focus=false"
                     [(ngModel)]="usernameLogin"
                     [formControl]="loginForm.get('usernameLogin')">
            </div>

            <div class="input-group form-group-no-border input-lg" [ngClass]="{'input-group-focus':focus1===true}">

              <input type="password"
                     placeholder="Password"
                     class="form-control"
                     (focus)="focus1=true" (blur)="focus1=false"
                     [(ngModel)]="passwordLogin"
                     [formControl]="loginForm.get('passwordLogin')">

              <button type="submit" class="btn btn-primary btn-round btn-lg btn-block"
                      [disabled]="!loginForm.valid">Login</button>
            </div>
          </div>
        </form>

        <form [formGroup]="createForm"
              (ngSubmit)="createUser(
              createForm.get('username').value,
              createForm.get('password').value,
              createForm.get('email').value,
              createForm.get('phone_number').value,
              createForm.get('address').value)"
              class="form" method="" action=""
              [class.error]="!createForm.valid && createForm.touched">
          <div class="content">
            <div class="input-group form-group-no-border input-lg" [ngClass]="{'input-group-focus':focus===true}">

              <input type="text"
                     class="form-control"
                     placeholder="Username"
                     (focus)="focus=true"
                     (blur)="focus=false"
                     [(ngModel)]="username"
                     [formControl]="createForm.get('username')">
            </div>
            <div class="input-group form-group-no-border input-lg" [ngClass]="{'input-group-focus':focus1===true}">

              <input type="password"
                     placeholder="Password"
                     class="form-control"
                     (focus)="focus1=true"
                     (blur)="focus1=false"
                     [(ngModel)]="password"
                     [formControl]="createForm.get('password')">
            </div>
            <div class="input-group form-group-no-border input-lg" [ngClass]="{'input-group-focus':focus===true}">

              <input type="text"
                     class="form-control"
                     placeholder="Email"
                     (focus)="focus=true"
                     (blur)="focus=false"
                     [(ngModel)]="email"
                     [formControl]="createForm.get('email')">
            </div>
            <div class="input-group form-group-no-border input-lg" [ngClass]="{'input-group-focus':focus1===true}">

              <input type="text"
                     placeholder="Address"
                     class="form-control"
                     (focus)="focus1=true"
                     (blur)="focus1=false"
                     [(ngModel)]="address"
                     [formControl]="createForm.get('address')">
            </div>
            <div class="input-group form-group-no-border input-lg" [ngClass]="{'input-group-focus':focus1===true}">

              <input type="text"
                     placeholder="Phone"
                     class="form-control"
                     (focus)="focus1=true"
                     (blur)="focus1=false"
                     [(ngModel)]="phone_number"
                     [formControl]="createForm.get('phone_number')">

              <button type="submit" class="btn btn-primary btn-round btn-lg btn-block"
              [disabled]="!createForm.valid">Create user</button>
            </div>
          </div>
        </form>
      </div>
      </div>
    </div>
  </div>
