<html>
<body>

  <div>
    <app-navbar></app-navbar>
  </div>

  <div class="toppadding align-items-center justify-content-center d-flex" *ngIf="advertisementCreated">
    <p>Upload your images now or later at the my advertisements page.</p>
  </div>
  <div class="container d-flex" *ngIf="advertisementCreated">
    <div class="row">
      <div class="col-lg-4" *ngFor="let myimage of createdFlat.images;">
        <div class="card" *ngIf="!createdFlat.noImageFound">
          <img class="card-img-top" src="{{myimage.filename}}" alt="firstPicture">
          <!--d-flex kell, mert akkor lesz flexbox, aztán a justify horizontálisan középre, align pedig vertikálisan-->
          <div class="card-body align-items-center d-flex justify-content-center">
            <div class="text-center">
              <a class="btn btn-primary btn-round btn-lg center justify-content-center" style="color:white" (click)="deleteImage(myimage._id)">Delete image</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>


  <div class="input-group form-group-no-border input-lg align-items-center justify-content-center d-flex" *ngIf="advertisementCreated">

    <div *ngIf="successMessage" type="success" class="alert alert-success" (close)="successMessage = null">
      {{ successMessage }}
    </div>
    <div>
      <input type="file"
             (change)="onFileChanged($event)"
             accept="image/*">
    </div>
    <div>
      <button class="btn btn-primary btn-round btn-lg"
              (click)="uploadImage()">
        Upload picture
      </button>
    </div>
    <div>
      <button class="btn btn-primary btn-round btn-lg"
              (click)="navigateToMain()">
        Done
      </button>
    </div>
  </div>

  <div class="container toppadding align-items-center justify-content-center d-flex" *ngIf="!advertisementCreated">
    <div class="col-md-4 content-center" id="centeralign">
      <div class="card card-login card-plain">
        <form [formGroup]="createFlatForm"
              (ngSubmit)="createFlat(
              createFlatForm.get('price').value,
              createFlatForm.get('numberOfRooms').value,
              createFlatForm.get('description').value,
              createFlatForm.get('email').value,
              createFlatForm.get('phone_number').value,
              createFlatForm.get('zipCode').value,
              createFlatForm.get('city').value,
              createFlatForm.get('address').value,
              createFlatForm.get('type').value)"
              class="form" method="" action=""
              [class.error]="!createFlatForm.valid && createFlatForm.touched">
          <div class="content">

            <div class="input-group form-group-no-border input-lg">

              <input type="number"
                     placeholder="Price"
                     class="form-control"
                     [(ngModel)]="price"
                     [formControl]="createFlatForm.get('price')">
            </div>

            <div class="input-group form-group-no-border input-lg">

              <input type="number"
                     placeholder="Number of Rooms"
                     class="form-control"
                     [(ngModel)]="numberOfRooms"
                     [formControl]="createFlatForm.get('numberOfRooms')">
            </div>

            <div class="input-group form-group-no-border input-lg">

              <textarea type="text"
                        placeholder="Description of the flat"
                        rows="4"
                        cols="80"
                        class="form-control"
                        [(ngModel)]="description"
                        [formControl]="createFlatForm.get('description')">
                </textarea>

            </div>

            <div class="input-group form-group-no-border input-lg">

              <input type="text"
                     placeholder="Email"
                     class="form-control"
                     [(ngModel)]="email"
                     [formControl]="createFlatForm.get('email')">
            </div>

            <div class="input-group form-group-no-border input-lg">

              <input type="text"
                     placeholder="Phone number"
                     class="form-control"
                     [(ngModel)]="phone_number"
                     [formControl]="createFlatForm.get('phone_number')">
            </div>

            <div class="input-group form-group-no-border input-lg">

              <input type="number"
                     placeholder="ZIP code"
                     class="form-control"
                     [(ngModel)]="zipCode"
                     [formControl]="createFlatForm.get('zipCode')">
            </div>

            <div class="input-group form-group-no-border input-lg">

              <input type="text"
                     placeholder="City"
                     class="form-control"
                     [(ngModel)]="city"
                     [formControl]="createFlatForm.get('city')">
            </div>

            <div class="input-group form-group-no-border input-lg">

              <input type="text"
                     placeholder="Address"
                     class="form-control"
                     [(ngModel)]="address"
                     [formControl]="createFlatForm.get('address')">
            </div>


            <div class="input-group form-group-no-border input-lg">
              <div class="form-check form-check-radio">
                <label class="form-check-label" for="gridRadios1">
                  For Underlease
                </label>
                <input class="form-check-input" type="radio" [(ngModel)]="type" [formControl]="createFlatForm.get('type')" name="gridRadios" id="gridRadios1" value="underlease">
                <span class="form-check-sign"></span>
              </div>
            </div>
            <div class="input-group form-group-no-border input-lg">
              <div class="form-check form-check-radio">
                <label class="form-check-label" for="gridRadios2">
                  For Sale
                </label>
                <input class="form-check-input" type="radio" [(ngModel)]="type" [formControl]="createFlatForm.get('type')" name="gridRadios" id="gridRadios2" value="sale">
                <span class="form-check-sign"></span>
              </div>
            </div>

            <div>
              <button type="submit" class="btn btn-primary btn-round btn-lg btn-block"
                      [disabled]="!createFlatForm.valid">
                Create advertisement
              </button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</body>
</html>
