::placeholder {
  color:grey;
  opacity:1;
}

.toppadding {
  padding-top: 100px;
}

.hidden{
  visibility:hidden;
}

.bod{
  background:url(../../assets/img/blurred-image-1.jpg);
  background-repeat:no-repeat; 
  background-size:100% 100%;
  height: 100%;
  background-attachment:fixed;
  padding-bottom: 3%;
}

.middlebtn{
  text-align: center;
  padding-left: 5%;
  padding-right: 5%;
}