<html>
<body style="background:url(assets/img/blurred-image-1.jpg); background-repeat:no-repeat; background-size:100% 100%;
   height: 1000px; background-attachment:fixed">

  <div>
    <app-navbar *ngIf="!undefinedUser"></app-navbar>
  </div>

  <div class="container">
    <div class="col-md-4 content-center" id="centeralign">
      <div class="card card-login card-plain">
        <form [formGroup]="createFlatForm"
              (ngSubmit)="createFlat(
              createFlatForm.get('price').value,
              createFlatForm.get('numberOfRooms').value,
              createFlatForm.get('description').value,
              createFlatForm.get('address').value,
              createFlatForm.get('hasAttachment').value)"
              class="form" method="" action=""
              [class.error]="!createFlatForm.valid && createFlatForm.touched">
          <div class="content">
            <div class="input-group form-group-no-border input-lg">

              <input type="text"
                     placeholder="Price"
                     class="form-control"
                     [(ngModel)]="price"
                     [formControl]="createFlatForm.get('price')">
            </div>
            <div class="input-group form-group-no-border input-lg">

              <input type="text"
                     placeholder="Number of Rooms"
                     class="form-control"
                     [(ngModel)]="numberOfRooms"
                     [formControl]="createFlatForm.get('numberOfRooms')">
            </div>

            <div class="input-group form-group-no-border input-lg">

              <textarea type="text"
                        placeholder="Description of the flat"
                        rows="4"
                        cols="80"
                        class="form-control"
                        [(ngModel)]="description"
                        [formControl]="createFlatForm.get('description')">
                </textarea>

            </div>

            <div class="input-group form-group-no-border input-lg">

              <input type="text"
                     placeholder="Address"
                     class="form-control"
                     [(ngModel)]="address"
                     [formControl]="createFlatForm.get('address')">
            </div>
            <div class="form-check">
              <label class="form-check-label">
                <input class="form-check-input"
                       type="checkbox"
                       value=""
                       [(ngModel)]="hasAttachment"
                       [formControl]="createFlatForm.get('hasAttachment')">Image
                <span class="form-check-sign"></span>
              </label>
              <div *ngIf="successMessage" type="success" class="alert alert-success" (close)="successMessage = null">
                {{ successMessage }}

              </div>
              <button type="submit" class="btn btn-primary btn-round btn-lg btn-block"
                      [disabled]="!createFlatForm.valid" *ngIf="!undefinedUser" (click)="changeSuccessMessage()">
                Create advertisement
              </button>
              <button type="button" class="btn btn-primary btn-round btn-lg btn-block"
                      *ngIf="undefinedUser" routerLink="">
                You are not logged in<br /> Click here to log in or create a new account
              </button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</body>
</html>
