<body>
  <nav id="navigation" class="navbar navbar-expand-lg navbar-dark fixed-top" style="background-color: #f96332;">

    <a class="navbar-brand clickableThing" (click)="navigateToMain()" style="color:white;" id="albi">
      Albi
    </a>
    <button class="navbar-toggler" type="button" (click)="isCollapsed = !isCollapsed" data-toggle="collapse" data-target="#mynavbar" aria-controls="mynavbar" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>


    <div class="collapse navbar-collapse" [ngbCollapse]="!isCollapsed" id="mynavbar">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
          
          <a class="nav-link clickableThing" style="color:white;" (click)="navigateToAddAd()">
            New advertisement
          </a>
          <div *ngIf="isCollapsed" class="dropdown-divider"></div>
        </li>
        <li class="nav-item">
          <a class="nav-link clickableThing" style="color:white;" (click)="navigateToMyAds()">
            My advertisements
          </a>
          <div *ngIf="isCollapsed" class="dropdown-divider"></div>
        </li>
        <li class="nav-item">
          <a class="nav-link clickableThing" style="color:white;" (click)="navigateToMyProfile()">
            My profile
          </a>
          <div *ngIf="isCollapsed" class="dropdown-divider"></div>
        </li>
        <li class="nav-item">
          <a class="nav-link clickableThing" style="color:white;" (click)="navigateToLogOut()">
            Log out
          </a>
        </li>
      </ul>
    </div>
  </nav>
</body>
